* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #000000;
}
header {
	height: 100px;
	width: 100%;
	background-color: #000000;
}
header h1 {
	text-align: center;
	font-family: arial;
	font-size: 25px;
	padding :20px;
	color: #dc3545;
}
.main button {
	height: 40px;
	width: 200px;
	background-color: #dc3545;
	border-radius: 10px;
	border :0 solid black;
	margin-top: 10px;
	color: ;
	font-size: 20px;
	font-family: arial;
}
.main button:hover{
	background-color: #dc3545;
}
.tulis textarea{
	width: 500px;
	height: 250px;
	border:1px solid red;
}
.tulis {
	text-align: center;
	margin-top: 20px;
}
.hasil {
	width: 100%;
}
.hasil2 {
	width: 80%;
	text-align: center;
	margin :10px 10px;
}
.tile-body img {
	margin :10px 10px;
}
